{% extends 'base.html' %}

{% block title %}Outcomes List{% endblock %}

{% block content %}
<h2 class="text-primary">Outcomes List</h2>
<div class="table-responsive">
    <table id="data-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="vertical-align: middle;">ID</th>
                <th style="vertical-align: middle;">Trial</th>
                <th style="vertical-align: middle;">Date</th>
                <th style="vertical-align: middle;">Details</th>
                <th style="vertical-align: middle;">Result</th>
                <th style="vertical-align: middle;">Trial Name</th>
                <th style="vertical-align: middle;">Participant</th>
                <th style="vertical-align: middle;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ table|safe }}
        </tbody>
    </table>
</div>
<a href="{{ url_for('outcomes.add_outcome') }}" class="btn btn-success mt-3">Add New Outcome</a>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#data-table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": true
        });
    });
</script>
{% endblock %}